﻿@using ForecastIO;
@model List<DailyForecast>

@{
    ViewBag.Title = "Home Page";
}

<div>
@using (Html.BeginForm("Post", "Home", FormMethod.Post, new { defaultbutton = "Submit", id = "MainForm" }))
{
  <table class="table table-responsive">
    <thead>
      <tr>
        <th>Day</th>
        <th>Wind Speed</th>
        <th>Summary</th>
        <th>Max. Temperature</th>
        <th>Min. Temperature</th>
      </tr>
    </thead>
    <tbody>
        @foreach (var Day in Model)
        {

          <tr>
            @{
              DateTime startDate = new DateTime(1970, 1, 1);
              DateTime times = startDate.AddSeconds(Day.time);
                <td>
                  @Html.HiddenFor(d => Day.time, new {  @class = "form-control"}  )
                  @times.ToLongDateString()
                </td>
            }
            <td>
              @Html.HiddenFor(d => Day.windSpeed)
              @Html.DisplayTextFor(d => Day.windSpeed) 
            </td>
            <td>
              @Html.HiddenFor(d => Day.summary)
              @Html.DisplayTextFor(d => Day.summary)
            </td>
            <td>
              @Html.HiddenFor(d => Day.temperatureMax)
              @Html.DisplayTextFor(d => Day.temperatureMin)
            </td>
            <td>
              @Html.HiddenFor(d => Day.temperatureMin)
              @Html.DisplayTextFor(d => Day.temperatureMin)
            </td>
          </tr>
         }
        
      </tbody>
    </table>
    <input type="submit" value="Submit"  class="btn btn-default" formmethod="post"/>
  }
</div>
